/*

  z-index GUIDE:
  ------------------------------------------------------
  Promo: 2090
  Nav: 2100
  hero: 0 - 100

  cart-sticky: 1500
  

*/

html, body, p, h1, h2, h3, h4, h5, h5, h6, ul, li, strong, sup, b, span, img, i, form, input, textarea {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: 'Lato', sans-serif;
  outline: none;
}

html, body {
  height: 100%;
  font-family: 'Lato', sans-serif;

  /*background: #f0f0f0;*/
}

p, li{
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  margin: 0;
}

strong{
  font-weight: 700;
}

h1{
  font-size: 40px;
  line-height: 46px;
  font-weight: 300;
  margin: 20px 0 10px 0;
}

* strong,
* b{
  font-weight: 700;
}

h2{
  font-size: 26px;
  line-height: 30px;
  font-weight: 300;
  margin: 20px 0 10px 0;
}

h2 sup{
  font-size: 26px;
  margin: 5px 0 0 0;
  vertical-align: text-top;
}

h3{
  font-size: 21px;
  line-height: 26px;
  font-weight: 300;
  margin: 0 0 10px 0;
}

h2 strong{
  font-weight: 700;
}

section{
  position: relative;
  width: 100%;
  display: none;
  overflow: hidden;
  box-sizing: border-box;
  z-index: 20;
}

.section *{
  box-sizing: border-box;
}

section.nav{
  overflow: initial;
}

.copy{
  box-sizing: border-box;
}
.mobile .copy{
  padding: 0 20px;
}

.no-select{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* == MAIN CONTAINER & MEDIA QUERIES ================================================== */

.container{
  position: relative;
  /*background: #fff;*/
  width: 490px;
  left: 50%;
  margin-left: -240px;
  clear: both;
}

.col1,
.col2,
.col3,
.col4{
  display: inline-block;
  box-sizing: border-box;
  overflow: hidden;
  /* background: RGBA(25,255,25,0.77); */
}

.col1{ width: 960px; }
.col2{ 
  width: 490px;
  vertical-align: top;
  float: left;
}
.col2:last-child{
  /* background: red; */
  /* margin-left: 20px; */
}
.col3{ width: 320px; }
.col4{ width: 240px; }

.row1{ height: 360px;}
.row2{ height: 720px;}
.row3{ height: 1080px;}

/*@media screen and (min-width: 980px) and (orientation: landscape){
  .container{
    width: 980px;
    margin-left: -490px;
    left: 50%;
  }
}*/
@media screen and (min-width: 720px){
  .container{
    width: 720px;
    margin-left: -360px;
    left: 50%;
  }
}

@media screen and (min-width: 980px){
  .container{
    width: 980px;
    margin-left: -490px;
    left: 50%;
  }
}

@media screen and (max-width: 980px) {
  .col1,
  .col2,
  .col3,
  .col4{
    width: 100%;
  }

  .container{
    width: 100%;
    left: 0;
    margin: 0;
  }
}

/* == STORE / MAP ================================= */
.stores{
  box-sizing: border-box;
  background: #fff;
  /*min-height: 100%;*/
  padding: 40px 0 120px 0;
}

.store{
  display: inline-block;
  /*margin: auto;*/
  padding: 0 40px 0 0;
  vertical-align: top;
}

.mobile .store{
  display: inline-block;
  /*margin: auto;*/
  padding: 0 20px 0 20px;
  vertical-align: top;
}

.store .details{
  margin: 0;
  padding: 0;
  position: relative;
}

.store .details li{
  margin: 0;
  padding: 2px 0 5px 30px;
  list-style: none;
  position: relative;
  color: #aaa;
}

.store .details li span{
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../images/map_icons.svg) no-repeat top left;
  background-size: 60px 20px;
  position: absolute;
  left: 0;
  top: 2px;
}

.store .details .phone span{ background-position: -20px 0}
.store .details .hours span{ background-position: -40px 0}

/* -- map -- */

.map-holder {
  height: 300px;
  width: 100%;
  position: relative;
  overflow: hidden;
  /**/
}

.map {
  height: 100%;
  width: 100%;
}


.map a{
  display: none !important;
}

.map-footer{
  position: absolute;
  width: 100%;
  height: 15px;
  bottom: 0px;
  background: white;
}

/* == NAV ================================ */
.nav{
  height: 70px;
  background: white;
  position: fixed;
  top: 30px;
  z-index: 2100;
  -webkit-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.2);
}

.navShadow ul{
  -webkit-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.2);
}

.nav .logo{
  position: absolute;
  width: 240px;
  height: 32px;
  background: url(../images/logo.svg) no-repeat top left;
  top: 19px;
  left: 20px;
  cursor: pointer;
}

.nav .login{
  position: absolute;
  top: -30px;
  right: 0px;
  padding: 8px 25px 10px 25px;
  background: #111;
  color: #fff;
}

.nav .login .login-button {
  display: inline-block;
  margin-right: 20px;
  cursor: pointer;
}

.nav .login .login-button:hover{
  text-decoration: underline;
}

.nav .login .shopping-bag{
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url(../images/icons/shopping-bag.svg) no-repeat center center;
  background-size: contain;
  cursor: pointer;
}

.nav ul{
  position: absolute;
  right: 0;
  top: 32px;
}

.nav li{
  position: relative;
  display: inline-block;
  font-size: 21px;
  text-transform: uppercase;
  color: #222;
  
  cursor: pointer;
  margin: 0 0 0 30px;
}

.underline{
  position: absolute;
  border-bottom: 1px solid rgba(0,0,0,0.67);
  top: 55px;
  left: 0;
}

/* -- Mobile Nav ------------ */
.mobile .nav ul{
  top: 0px;
  width: 100%;
  height: 0px;
  overflow: hidden;
  padding-top: 70px;
  background: url(../images/nav_collapsed_icon.gif) no-repeat top right;

}

.mobile .nav li{
  display: block;
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  padding: 20px 20px 5px 20px;
  margin: 0;
  background: white;
  border-top: 1px solid #eee;
}

.mobile .nav li:first-child{
  border-top: none;
}

.mobile .nav li:hover{
  background: #fcfcfc;
}


.mobile .nav .container{
  width: 100%;
  max-width: 980px;
  left: 0;
  margin: 0;
}


/* == PROMO ================================ */
.promo{
  height: 30px;
  background: url(../images/promo/glitter-gold.jpg) repeat-x top left;
  text-align: center;
  position: fixed;
  top: 0;
  z-index: 2090;
  background-size: 120px 30px;
}

.mobile .promo{  
}

.promo p{
  margin-top: 7px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

/* == HERO ================================= */
.hero{
  height: 100%;
  min-height: 400px;  
  background-color: #eee;
  overflow: hidden;
  position: fixed;
  top: 100px;
  z-index: 0;
}


.hero .slideshow{
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero .slide{
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.hero .slide::after{
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
}

.dev-mode .hero .slide::after{
  background: rgba(0,0,0,0.9);
}

.hero .slide1{
  /*width: 1800px;
  height: 1192px;*/
  background-image: url(../images/hero/campaign_2016_02_square.jpg);
  
  background-position: center center;
}

.hero .slide2{
  /*width: 1800px;
  height: 1192px;*/
  background-image: url(../images/hero/campaign_2016_05_square.jpg);
  
  background-position: center center;
  display: none;
}

.hero .button{
  position: absolute;
  border-radius: 0px;
  font-size: 30px;
  padding: 15px 20px;
  
  background: rgba(0,0,0,0.6);
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  color: #fff;
}

.hero .button:hover{
  background: rgba(0,0,0,1);
}

.button .strong{
  font-weight: 700 !important;
}

.hero .button .hitarea{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: red;
  opacity: 0;
}

/* ~~ mobile button ~~~~ */
.mobile .hero .button{
  font-size: 21px;
  padding: 10px 15px;
}


/* == CAMPAIGN ================================ */

.campaign{
  /* position: absolute; */
  top: 0;
  width: 100%;
  /*height: 100%;*/
  padding: 40px 0 100px 0;
  
  z-index: 10;
  background: #fdfdfd;
  display: none;
  overflow: hidden;

  box-sizing: border-box;
}

.campaign img{
  margin-top: 20px;
  opacity: 0;
  width: 100%;
}

.campaign .campaignImages{
  font-size: 0;
}

.campaign .leftImage{
  margin-right: 20px;
}

.mobile .campaign .leftImage{
  margin-right: 0;
}


/* == ABOUT ================================ */
.footer{
  box-sizing: border-box;
  font-size: 0;
  padding: 40px 0 120px 0;
  background: #eae7e1;
  color: rgba(0,0,0,0.6);
}

.footer .copyright{
  position: absolute;
  text-align: center;
  width: 100%;
}

.footer .social{
  position: absolute;
  left: 20px;
}

.footer .payment-partners{
  position: absolute;
  right: 20px;
}

.footer .social li{
  display: inline-block;
  margin-right: 20px;
}

.footer .payment-partners li{
  display: inline-block;
  margin-left: 20px;
  width: 30px;
  height: 30px;
}

.footer .icon{
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: 100%;
  background-repeat: no-repeat;
  opacity: 0.6;
}

.footer .social .icon:hover{
  opacity: 0.9;
}

.footer .icon.facebook{ background-image: url(../images/icons/facebook.svg) }
.footer .icon.instagram{ background-image: url(../images/icons/instagram.svg); display: inline-block;}
.footer .icon.amex{ background-image: url(../images/icons/amex.svg) }
.footer .icon.master{ background-image: url(../images/icons/mastercard.svg) }
.footer .icon.visa{ background-image: url(../images/icons/visa.svg) }





/* == INSTAGRAM =============================== */
section.instagram {
  padding: 50px 0 100px 0;
}

section.instagram h1 {
  cursor: pointer;
  margin-bottom: 20px;
}

.mobile section.instagram h1 {
  margin-left: 20px;
}

section.instagram .container{
}

section.instagram .posts{
  position: relative;
  line-height: 0;
  font-size: 0;
  margin: 0;
  overflow: hidden;
}

.mobile section.instagram .posts{
  padding: 0 20px 40px 20px;
  background: #fafafa;
  clear: both;
}

.mobile section.instagram .posts::after{
  position: absolute;
  content: " ";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 20px solid #fafafa;
  box-sizing: border-box;
}

section.instagram .post {
  position: relative;
  display: block;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  
}

section.instagram .posts.small .post {
  float: left;
}
section.instagram .posts.large .post {
  position: absolute;
}

section.instagram .post a{
  position: absolute;
  width: 100%;
  height: 100%;
}







/* == CONTACT ================================ */
.contact{
  position: fixed;
  top: 0;
  box-sizing: border-box;
  background: rgba(0,0,0,0.90);
  min-height: 100%;
  padding: 160px 0 120px 0;
  color: white;
  height: 0;
  display: none;
  overflow: hidden;
}

.close{
  position: absolute;
  top: 100px;
  right: 20px;
  font-size: 40px;
  font-weight: 300;
  color: white;
}

.product-page .close{
  color: #000;
}

.contact form{
  box-sizing: border-box;
  width: 100%;
  margin-top: 20px;
}

.contact .contact-form-input{
  margin: 0 0 10px 0;
}

.contact .contact-form-input input, .contact .contact-form-input textarea{
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 2px;
  border: 0;
  font-size: 18px;

  -webkit-box-shadow: inset 0px 2px 5px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 0px 2px 5px 0px rgba(0,0,0,0.3);
  box-shadow: inset 0px 2px 5px 0px rgba(0,0,0,0.3);
}

.contact .submit{
  border-radius: 3px;
  background: transparent;
  box-sizing: border-box;
  cursor: pointer;
  border: 1px solid rgba(255,255,255,0.5);

  padding: 7px 30px;
  text-align: center;
  color: #fff;
  font-size: 18px;

  cursor: pointer !important;
}

.contact .submit:hover{
  background: white;
  color: #000;
}

.contact .col2{
  padding: 20px;
}

.contact h2{
  margin: 20px 0 5px 0;
}


.contact .thanks{
  display: none;
  box-sizing: border-box;
  padding: 20px;
  background: #78AB46;
  border-radius: 3px;
  margin: 20px 0;
  overflow: hidden;
}

.contact .thanks h2{
  margin: 0 0 10px 0;
}


/* == ================================ */
.noselect {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -user-select: none;
}


.dev{
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  padding: 9px;
  color: white;
  font-size: 11px;
  line-height: 12px;
  z-index: 9999;
}